<div class="container">
  <% if @users.empty? %>
  <div class="alert alert-warning text-center">No votes yet</div>
  <% else %>
  <ol class="rating">
    <% @users.each do |user| %>
        <li class="info-user">
            <a href="<%= user_url user[:user] %>"><%= user[:user].name %></a>
                <%= link_to gravatar_for(user[:user], size: 100), user[:user] %><br><br>
                <span>Total: <%= user[:total] %> |
          <%= user[:up].zero? ? '' : " Votes UP: #{user[:up]} |" %>
          <%= user[:down].zero? ? '' : " Votes DOWN: #{user[:down]}" %></span>
          <hr>
        </li>
    <% end %>
  </ol>
  <% end %>
</div>