<% if posts.count > 0 %>

    <ul class="posts">
      <% posts.each do |post| %>
          <li class="single-post">
            <a href="<%= post_url post %>" class="post-title"><%= post.title %></a>
            <p class="post-content"><%= post.content %></p>
            <div class="post-stats">
              
              <div class="smallgravatar">
                <span class="date-created">Created <%= time_ago_in_words(post.created_at) %> ago</span>
              <a href="<%= user_url(post.user) %>" class="user-created"><%= post.user.name %></a>
                <%= link_to gravatar_for(current_user, size: 100), current_user %>
              </div>
              <div class="votes"></div>
              <% if post.answers.count > 0 %>
                  <span class="answers-count"><%= post.answered.count %></span>
              <% end %>
              <% if !post.accepted_answer.nil? %>
              <span class="is-closed">
                <span>QUESTION IS CLOSED</span>
              </span>
              <% end %>
            </div>
          </li>
          <hr size="2px" color="#d5d9db">
      <% end %>
    </ul>
<% end %>