<hr>
<h3 class="text-center">Answers</h3>
<hr>
<% answers.each do |answer| %>
    <li class="single-post">
      <div class="post-stats">
        ID : <%= answer.id %>
        <p class="post-content"><%= answer.content %></p>
          <div class="answer">
            <span class="date-created">Answered <%= time_ago_in_words answer.created_at %> ago</span>
            <a href="<%= user_url answer.user %>" class="user-created"><%= answer.user.name %></a>
           <%= link_to gravatar_for(current_user, size: 100), current_user %>
          
            <div class="votes"></div>
            <% if @post.accepted_answer == answer %>
            <span class="is-accepted">
              <span class="glyphicon glyphicon-ok" aria-hidden="true">Accept</span>
            </span>
            <% elsif @post.user == current_user %>
              <%= render 'accept_answer_form', post: post, answer: answer %>
            <% end %>
          </div>
      </div>
    </li>
<% end %>