<h1><%= @title %></h1>
<% if logged_in? %>
    <div class="answer-post-form">
      <%= form_for @answer do |f| %>
          <div class="field">
            <%= f.label :content, 'Write your answer here...' %>
            <%= f.text_area :content, class: 'form-control', rows: 10 %>

            <%= f.hidden_field :post_type, value: 'a' %>
            <%= f.hidden_field :answered, value: @post.id %>
            <%= hidden_field_tag :type, 'a' %>
          </div>
          <%= f.submit 'Answer post', class: 'btn btn-primary' %>
      <% end %>
    </div>
<% end %>