<% provide(:title, @title) %>
<h1><%= @title %></h1>
<% if logged_in? && current_page?(questions_user_url(current_user)) %>
    <a class="new-post-btn" href="#">Create new post</a>
    <div class="new-post-form">
        <%= form_for @post do |f| %>
            <div class="field">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>

                <%= f.label :content %>
                <%= f.text_area :content, class: 'form-control', rows: 15 %>
            </div>
            <br>
            <%= f.submit 'Create post', class: 'btn btn-primary' %>
        <% end %>
    </div>
<% end %>

<%= render 'shared/posts', posts: @posts %>
